*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/*----------------GENERALES-------------*/

html{
    text-decoration: none;
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #242323 ;
}

body a {
    text-decoration: none;
    color: #F5F5F5;
}

body h2{
    color: #F5F5F5;
    font-size: 4rem;
    background-color: #3aaa35; 
    border-style: ridge;
    padding: 1rem;
}

body h3{
    color:#F5F5F5;
    font-size: 2.5rem;
}

body h4{
    color:#F5F5F5;
    font-size: 2rem;
    ;
}

body p {
    color: #F5F5F5;
    font-size: 1.7rem;
    text-align: justify;
    overflow: hidden;
}

body span{
    color: #F5F5F5;
}

/*---------------- CLASES Y SELECTORES-------------*/

/* INDEX */   

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


/*HEADER*/

.header{
    position: sticky;
    top: 0;
    background-color: rgba(36, 35, 35, 0.95) ;
    background-image: linear-gradient(to left, rgba(36,35,35,1) 0%, rgba(92,200,81,1) 100%);
    background-size: 100% 7%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#navbarNav{
    margin-right: 3rem;
}

.header .header__logo{
    width: 130px;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.header .header__logo img{
    width: 100%;
    padding: 2%;
}

.nav-link{
    color: #F5F5F5 !important;
    font-size: 1.85rem;
}

.navbar-nav{
    gap: 1.2rem;
}

.navbar-nav .nav-item .nav--hover{
    /*border-bottom: solid 1px #3aaa35;*/
    color: #3aaa35 !important;
}
.navbar-nav .nav-item:hover{
    background-color: #3aaa35; 
    border-radius: 5%;
}

.navbar-toggler {
    font-size: 2.25rem;
    margin-right: 4rem;
}  

/*MAIN*/

.div___hero--princ{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-image: url(../img/fondoParque.png);
    background-size: 100%;
    background-position-y: 18%;
    max-height: 84vh;
    background-repeat: no-repeat;
}



.section__hero--logo{
    max-width: 40%;
    min-width: 336px;
    align-self: first baseline;
    /*background-color: rgba(36, 35, 35, 0.78);
    border-radius: 70%;
    padding: 1rem;
    border-top-right-radius: initial;*/   
}

.section__hero--description{
    padding: 2% 4%;
    margin-bottom: 3%;
    font-size: 2.2rem;
    text-align: center;
    line-height: 1.7;
}


.section__hero--img {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
}

.section__hero--img img{
    width: 15rem;
}

.section__jds{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 2%;
}

.section__div--networks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 4%;
    margin: 2% 0%;
    gap: 2rem;
}
.section__div--networks a{
    margin-top: 15%;
    width: 3rem;
}

.section__div--networks img{
    width: 100%;
}

.section__div--data {
    padding: 2% 2%;
    text-align: center;
    border: 1px #0c230b solid;
    background-color: rgba(58, 170, 53, 0.7);
}

.section__div--data h3 {
    font-size: 4rem;
}

.section__div--data span {
    font-size: 2rem;
}

/*FOOTER*/
footer{
    padding: 0.2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #000600;
    color: #F5F5F5;
    font-size: small;
    background: rgb(36,35,35);
    background: linear-gradient(43deg, rgba(36,35,35,1) 0%, rgba(92,200,81,1) 81%, rgba(36,35,35,1) 100%);
}

/* PAGE - CONOCEME */
.section--aboutMe .container{
    min-height: 70vh;
}

.section--aboutMe .row{
    flex-wrap: nowrap;
    margin-top: 3rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.section--aboutMe .row .div--aboutMeImg{
    flex-basis: 30%;
}

.section--aboutMe .row .div--aboutMeImg img{
    box-shadow: 0px 0px 2px 2px #F5F5F5;
}
.section--aboutMe .row .div--aboutMeTexto {
    padding: 2rem;
    line-height: 1.6;
    border: #F5F5F5 solid;
    flex-basis: 60%;
}

.section--aboutMe .row .div--aboutMeTexto h2{
    padding: 0 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.section--aboutMe .row .div--aboutMeTexto span{    
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/* PAGE - SERVICIOS */


.section--serv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    min-height: 80vh;
    grid-template-areas:"titulo titulo"
                        "funcional calistenia"
                        "box defensa";
    margin: 0% 2% 0% 2%;
    grid-gap: 1rem;
}

.section__div--serv{
    padding: 2rem 2rem 0 2rem;
}

.titulo{
    grid-area:titulo;
}

.funcional{
    grid-area:funcional;
}

.calistenia{
    grid-area:calistenia;
}

.defensa{
    grid-area:defensa;
}

.box{
    grid-area:box;
}

.section--serv h3 {  
    margin-bottom: 1%;
}

.section--serv h2{
    margin-bottom: 1%;
}

.section__div--serv span {
    font-size: 1.7rem;
}


/* PAGE - GALERIA */

.section--galery{
    padding: 2rem 4rem;
}

.section__div--galery{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-template-rows: auto; 
    grid-auto-flow: dense;
    gap: 1rem;
}

.section__div--galeryImg img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    padding: 0.1rem;
}

.cuadrado{
    grid-column: span 2; 
    grid-row: span 2; 
}
.horizontal{
    grid-column: span 2;
}

.vertical{
    grid-row: span 2;
}

.green {
    background-color: #5eff56;
}

.burgundy{
    background-color: #5e2121;
}

.lightblue{
    background-color: #32b3f8d7;
}

.orange{
    background-color: #f88832d7;
}

.white{
    background-color: #ffffffd7;
}

.black{
    background-color: #000600;
}

.pink{
    background-color: #f36fef;
}

/* PAGE - FAQ */

.section--faq{
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
}

.section__div--faq{
    margin: 1rem 0;
    padding: 1rem;
}

/* PAGE - CONTACTO */

.section--contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-image: url(../img/fondoParque.png);
    background-size: cover;
    background-position: left;
}

.section__div--contactForm{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.section--contactForm h2{
    text-align: center;
    padding: 0rem;
}

.section--contactForm span{
    font-size: 2rem;
    text-align: center;
}

.section--contactForm Form{
    color: #F5F5F5;
    font-size: 1.5rem;
    background-color:#161b22 ;
    border: 2px #21262d solid;
    border-radius: 5px;
    padding: 1.5rem;
}

.section--contactForm input , .section--contactForm textarea{
    display:block;
    margin-bottom: 4%;
    margin-top: 1%;
    background-color: #0d1117 ;
    color: #F5F5F5;
    width: 100%;
    border-radius: 5px;
    padding: 6px 12px;
    border: 2px #21262d solid;
    font-size: 1.3rem;
    font-family: inherit;
}

.section--contactForm textarea:focus , .section--contactForm input:focus{
    border-color: #1f6feb;
    outline: none;
    box-shadow: 0 0 0 3px #0c2d6b;
}

.section--contactForm .btn{
    background-color: #238636;
    border-color: rgba(240,246,252,0.1);
    box-shadow:  0 0 transparent , 0 0 transparent;
    font-size: 1.5rem;
    color: #F5F5F5;
    margin-bottom: 2%;
    margin-top: 1%;
    cursor: pointer;
}

.section--contactForm .btn:focus{
    background-color: #238636;
    border-color: rgba(240,246,252,0.1);
    box-shadow: 0 0 0 3px rgba(46,164,79,0.4);
}


/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
.rotate-vert-center {
	-webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.5s both;
	animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.5s both;
}


@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}



/*----------------MEDIA QUERIES-------------*/

@media screen and (max-width: 830px) {

    #navbarNav {
        margin-right: 2rem;
    }

    .nav-link{
        font-size: 1.7rem;
    }

    .header .header__logo {
        width: 110px;
        margin-left: 2rem;
    }

    .navbar-expand-md .navbar-collapse {
        justify-content: flex-end;
    }

    .section--aboutMe .row{
        margin-top: 1rem;
        margin-bottom: 1rem;
        gap: 2rem;
    }

    .section--aboutMe .row .div--aboutMeTexto {
        flex-basis: 50%;
    }


}


@media screen and (max-width: 767.98px) {  
    /*INDEX*/
    
    .header{
        position: inherit;
    }
    
    #navbarNav {
        margin-right: 0%;
    }

    .navbar-collapse {
        text-align: center;
        margin-bottom: 2rem;
    }

    .navbar-toggler {
        margin-bottom: 1.5rem;
    }
    /*HERO*/
    .div___hero--princ{
        background-position-y: inherit;
        background-size: cover;
        max-height: 55vh;    }
    
    .section__hero--logo{
        max-width: 80%;
        min-width: 336px;
        align-self: center;
    }

    .section__hero--description {
        font-size: 1.7rem;
        padding: 3rem;
    }

    .section__div--data h3{
        font-size: 3rem;
    }

    .section__div--data span{
        font-size: 2rem;
    }
    
    /* PAGE - CONOCEME */

    .section--aboutMe .row{
        flex-wrap: wrap;
        margin-bottom: 2rem;
        gap: 2rem;
        flex-direction: column-reverse;
    }

    .section--aboutMe .row .div--aboutMeImg{
        flex-basis: 50%;
    }
    
    .section--aboutMe .row .div--aboutMeImg img{ 
        /*margin: 0% 20%;*/
        display:block;
        margin-left: auto;
        margin-right: auto;            
    }

    .section--aboutMe .row .div--aboutMeTexto {
        flex-basis: 50%;
    }
    
       /* PAGE - FAQ */
        .section--faq{
            text-align: center;
        }
    
        .section__div--faq {
            text-align: center;
        }

    /*SERVICIOS*/
    .section--serv{
        grid-template-columns: 1fr;
        grid-template-areas:"titulo"
                            "funcional"
                            "calistenia"
                            "box"
                            "defensa";
    }
    .section__div--serv{
        padding: 2rem 2rem 0 2rem;
        text-align: center;
    }
    .section--serv{
        margin-bottom: 2rem;
    }

    /* PAGE - GALERIA */

    .section--galery{
        padding: 1rem 1rem;
    }     
    
    .section__div--galery{
        margin-top: 0.5rem;
        gap: 0.5rem;
    }

    .cuadrado{
        grid-column: span 1; 
        grid-row: span 1; 
    }
}


@media screen and (max-width: 576px) {/*425*/

    /*GENERALES*/
    
    body h2 {
        font-size: 3rem;
        text-align: center;
    }

    body h3{
        font-size: 2.3rem;
        border-bottom: #F5F5F5 solid 1px;
    }

    body p {
        font-size: 1.5rem;
        text-align: center;
}
    
    /* INDEX */
    .div___hero--princ{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__hero--logo{
        min-width: 260px;
    }

    .section__hero--description {
        font-size: 1.5rem;
        padding: 2.5rem;
    }

    .section__div--data {
        margin: 5% 1% 3% 1%;
    }

    .section__div--data h3{
        font-size: 2rem;
    }

    .section__div--data span{
        font-size: 1rem;
    }

    .section__div--networks a{
        margin-top: 4%;
        width: 8%;
    }
    
    footer{
        font-size:smaller;
        padding: 1% 2%;
    }

    /* PAGE - GALERIA */
    .vertical{
        grid-row: span 1; 
    }
    
    /* PAGE - FAQ */
    .section--faq{
        padding: 1rem 1rem;
    }

    .section__div--faq h2{
        padding: 1rem;
        margin: 0 1rem;
    }

    .section__div--contactForm{
        gap: 1rem;
    }

}

@media screen and (max-width: 320px) {
    /* PAGE - GALERIA */
    .horizontal{
        grid-column: span 1; 
    }

}