@import "variables";

/* PAGE - CONOCEME */
.section--aboutMe {
    .row{
        gap: 2rem;
        @include desktopMin{
            gap: 0rem;
        }
        @include tablet{
            flex-direction: column-reverse;
        }

        .div--aboutMeImg{
        flex-basis: 30%;

            img{
                box-shadow: 0px 0px 2px 2px $colorLight;
                @include mobile{
                    width: 60%;
                }
            }
        }

        .div--aboutMeTexto {
            padding: 2rem;
            flex-basis: 60%;
            @include tablet{
                margin-bottom: 1rem;
            }

            span{    
                font-size: 2rem;
                display: flex;
                @include superCenter;
                padding: 2rem;
                @include tablet{
                    padding: 0rem;
                }
            }
        }
    }
}