/* PAGE - CONOCEME */
.section--aboutMe .container{
    min-height: 70vh;

    div.row{
        gap: 4rem;

        div.div--aboutMeImg{
        flex-basis: 30%;

            img{
                box-shadow: 0px 0px 2px 2px $colorLight;
            }
        }

        div.div--aboutMeTexto {
            padding: 2rem;
            line-height: 1.6;
            flex-basis: 60%;

            span{    
                font-size: 2rem;
                display: flex;
                justify-content: center;
                padding: 2rem;
            }
        }

    }
}



