@import "mediaQueries";
/*---------------- CLASES Y SELECTORES-------------*/

/*INDEX*/

/*MAIN*/
.section__hero, 
.section__hero--description, 
.section__hero--description p {
    background-color: rgba(36, 35, 35, 0.2);

}

.div___hero--princ{
    background-image: url(../img/fondoParque.png);
    background-size: 100%;
    background-position-y: 18%;
    max-height: 84vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include tablet{
        background-position-y: inherit;
        background-size: cover;
        max-height: 55vh;
    }
}

.section__hero--logo{
    max-width: 40%;
    min-width: 336px;
    align-self: first baseline;
    /*background-color: rgba(36, 35, 35, 0.78);
    border-radius: 70%;
    padding: 1rem;
    border-top-right-radius: initial;*/   
    @include mobile{
        min-width: 260px;
    }
}

.section__hero--description{
    padding: 4rem 10rem;
    @include desktopMin{
        padding: 3rem 1rem;
    }
}

.section__hero--description p{
    font-size: 2.2rem;
    line-height: 1.7;
    @include tablet{
        font-size: 1.7rem;
    }
}

/*
.section__hero--img {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
}

.section__hero--img img{
    width: 15rem;
}
*/
.section__jds{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 2%;
}

.section__div--networks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    gap: 3rem;
}

.section__div--networks a{
    width: 4rem;
    background-color: #F5F5F5;
    border: 2px #3aaa35 solid;
    border-radius: 50%;
    align-self: center;
}

.section__div--networks a:hover{
    transform: scale(1.5);
}

.section__div--networks img{
    width: 100%;
    transform: scale(1); /*tño por defecto*/
    transition: all ease .1s;
}

.section__div--data {
    padding: 3rem 2rem;
    text-align: center;
    background-color: rgba(58, 170, 53, 0.7);
    border-radius: 35% 0%;
    @include tablet{
        padding: 1rem 2rem;
        margin-bottom: 1rem;
    }
}

.section__div--data h1 {
    font-size: 3rem;
    color: #F5F5F5
}

.section__div--data span {
    font-size: 1.7rem;
    @include tablet{
        font-size: 1.3rem;
    }
}