/* INDEX */   

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}


/*HEADER*/


.header{
    position: sticky;
    top: 0;
    background-color: rgba($colorDark, 0.95);
    background-image: linear-gradient(to left, rgba(36,35,35,1) 0%, rgba(92,200,81,1) 100%);
    background-size: 100% 7%;
    background-position: bottom;
    background-repeat: no-repeat;
    @include tablet{
        position: inherit;
    }
    
    &__logo{
        width: 130px;
        margin-bottom: 1rem;
        margin-left: 3rem;
        @include desktopMin{
            width: 110px;
            margin-left: 2rem;
        }
    }

    &__logo img{
        width: 100%;
        padding: 2%;
    }

    div#navbarNav{
        margin-right: 3rem;
        @include desktopMin{
            margin-right: 0.6rem;
        }
    }

    a.nav-linkkk{
        color: $colorLight;
        font-size: 1.9rem;
        padding: 1rem 1.2rem;
    }

    .nav-item a.nav--hover{
        color: $colorLogo; 
    }

    a.nav-linkkk:hover{
        background-color: $colorLogo; 
        border-radius: 5%;
        color: $colorLight;
    }
}

/*TOGGLER*/

header{
    .navbar-toggler {
        font-size: 2.25rem;
        margin-right: 2rem;
    }
    div#navbarNav{    
        @include tablet{
            text-align: center;
            margin-bottom: 2.5rem;
            margin-right: 0rem;
        }
    }
    .navbar-nav{
        @include tablet{
            gap: 1rem;
        }
    }

}


/*FOOTER*/
footer{
    padding: 0.2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: #000600;
    color: $colorLight;
    font-size: 1.3rem;
    background: rgb(36,35,35);
    background: linear-gradient(43deg, rgba(36,35,35,1) 0%, rgba(92,200,81,1) 81%, rgba(36,35,35,1) 100%);
    @include mobile{
        font-size:1rem;
        padding: 0.5rem 1.5rem;
    }
}


