/* PAGE - SERVICIOS */

.section__div--serv{
    padding: 1rem 2rem 0 2rem;
    justify-content: center;
    align-items: center;

    .titulo{
        width: auto;
        text-align: center;

        h2{
            margin-bottom: 1%;
            text-align: center;
            padding: 0rem 1rem;
        }
        
        span {
            font-size: 2rem;
            text-align: center;
            @include tablet{
                font-size: 1.6rem;
            }
        }
    }

    .row h3{
        margin-bottom: 1%;
        border-bottom: 1px solid;
        padding: 0.5rem;
        text-align: center;
    }
}



